<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Layouts</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<header>
  <div th:insert="~{nav :: navbar}"></div>
</header>
<div class="container">
  <main role="main" class="pb-3">
    <a th:href="@{/layout/create}">Add Layout</a>
    <table class="table" th:unless="${layouts == null}">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Manage</th>
      </tr>
      </thead>
      <tbody>
      <tr th:unless="${layout.isArchived()}" th:each="layout : ${layouts}">
        <td><span th:text="${layout.name}"></span></td>
        <td><span th:text="${layout.description}"></span></td>
        <td><span th:text="${layout.createdDate}"></span></td>
        <td>
          <a th:href="@{/layout/{id}(id=${layout.id})}">Details</a> |
          <a th:href="@{/layout/edit/{id}(id=${layout.id})}">Edit</a> |
          <a th:href="@{/layout/delete/{id}(id=${layout.id})}">Delete</a>
        </td>

      </tr>
      </tbody>
    </table>
  </main>
</div>
</body>
</html>