<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Layouts</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<header>
  <div th:insert="~{nav :: navbar}"></div>
</header>
<div class="container">
  <main role="main" class="pb-3">
    <h1>LAYOUTS</h1>
    <a th:href="@{/layout/create}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Add Layout
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
    </a>
    <table class="table" th:unless="${layouts == null}">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Manage</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr th:unless="${layout.isArchived()}" th:each="layout : ${layouts}">
        <td><span th:text="${layout.name}"></span></td>
        <td><span th:text="${layout.description}"></span></td>
        <td><span th:text="${layout.createdDate}"></span></td>
        <td>
          <a th:href="@{/layout/{id}(id=${layout.id})}">Details</a> |
          <a th:href="@{/layout/edit/{id}(id=${layout.id})}">Edit</a> |
          <a th:href="@{/layout/delete/{id}(id=${layout.id})}">Delete</a>
        </td>

      </tr>
      </tbody>
    </table>
  </main>
</div>
</body>
</html>