<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Reservation Request</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<header><div th:insert="~{nav :: navbar}"></div></header>
<div class="container">
  <main role="main" class="pb-3">
    <div class="row">
      <div class="col-md-4">
        <form th:action="@{/seating/reserve/{id}(id=${reservation.seating.id})}" method = "post" th:object="${reservation}">
          <input type="hidden" th:field="*{seating.id}" />
          <div class="form-group">
            <label class="control-label">First Name:
              <input th:field="*{firstName}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{firstName}"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Last Name:
              <input th:field="*{lastName}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{lastName}"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Email Address:
              <input th:field="*{email}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{email}"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Group Size:
              <input th:field="*{groupSize}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{groupSize}"></div>
          </div>
          <div class="form-group">
            <input type="submit" value="Request Reservation" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
    <div><a th:href="@{/event/{id}(id=${event.id})}">Go Back</a></div>
  </main>
</div>
</body>
</html>