<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Reservation Request</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<header><div th:insert="~{nav :: navbar}"></div></header>
<div class="container">
  <main role="main" class="pb-3">
    <h1>Make a Reservation Request</h1>
    <div><h4>Event</h4>
      <hr/>
      <dl class="row" th:object="${event}">
        <dt class="col-sm-2"> Name</dt>
        <dd class="col-sm-10"><span th:text="*{name}"></span></dd>
        <dt class="col-sm-2"> Description</dt>
        <dd class="col-sm-10"><span  th:text="*{description}"></span></dd>
        <dt class="col-sm-2"> Layout</dt>
        <dd class="col-sm-10"><span  th:text="*{layout.name}"></span></dd>
        <dt class="col-sm-2"> Price</dt>
        <dd class="col-sm-10"><span  th:text="*{price}"></span></dd>
        <dt class="col-sm-2"> Start Date</dt>
        <dd class="col-sm-10"><span  th:text="*{startDate}"></span></dd>
        <dt class="col-sm-2"> End Date</dt>
        <dd class="col-sm-10"><span  th:text="*{endDate}"></span></dd>
<!--        <dt class="col-sm-2"> Menu</dt>-->
<!--        <dd class="col-sm-10"><a th:href="@{/menu/{id}(id=*{menu.id})}"><span  th:text="*{menu.name}"></span></a></dd>-->
      </dl>
      <h4>Seating</h4>
      <hr/>
      <dl class="row" th:object="${seating}">
        <dt class="col-sm-2">Start Date and Time</dt>
        <dd class="col-sm-10"><span th:text="${#temporals.format(seating.seatingDateTime, 'yyyy-MM-dd HH:mm')}"></span></dd>
        <dt class="col-sm-2">End Date and Time</dt>
        <dd class="col-sm-10"><span th:text="${#temporals.format(seating.seatingDateTime.plusMinutes(seating.seatingDuration), 'yyyy-MM-dd HH:mm')}"></span></dd>
        <dt class="col-sm-2">Duration in Minutes</dt>
        <dd class="col-sm-10"><span th:text="*{seatingDuration}"></span></dd>
      </dl>
    </div>

    <div class="row">
      <div class="col-md-4">
        <form th:action="@{/seating/reserve/{seating_id}(seating_id=${seating.id})}" method = "post" th:object="${reservation}">
          <input type="hidden" th:field="*{seating.id}" />
          <div class="form-group">
            <label class="control-label">First Name:
              <input th:field="*{firstName}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{firstName}"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Last Name:
              <input th:field="*{lastName}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{lastName}"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Email Address:
              <input th:field="*{email}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{email}"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Group Size:
              <input th:field="*{groupSize}" class="form-control"/>
            </label>
            <div class="alert alert-warning" th:errors="*{groupSize}"></div>
          </div>
          <div class="form-group">
            <input type="submit" value="Request Reservation" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
    <div><a th:href="@{/event/{id}(id=${event.id})}">Go Back</a></div>
  </main>
</div>
</body>
</html>