<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Reservation Request</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<header><div th:insert="~{nav :: navbar}"></div></header>
<div class="container">
  <main role="main" class="pb-5">
    <h1 class="mt-4 mb-4 text-center">Make a Reservation Request</h1>


    <div class="row">
      <div class="col-md-6">
        <!-- Event & Seating Info -->
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h4 class="card-title">Event</h4>
            <hr/>
            <dl class="row" th:object="${event}">
              <dt class="col-sm-4">Name</dt>
              <dd class="col-sm-8"><span th:text="*{name}"></span></dd>
              <dt class="col-sm-4">Description</dt>
              <dd class="col-sm-8"><span th:text="*{description}"></span></dd>
              <dt class="col-sm-4">Layout</dt>
              <dd class="col-sm-8"><span th:text="*{layout.name}"></span></dd>
              <dt class="col-sm-4">Price</dt>
              <dd class="col-sm-8"><span th:text="*{price}"></span></dd>
              <dt class="col-sm-4">Start Date</dt>
              <dd class="col-sm-8"><span th:text="*{startDate}"></span></dd>
              <dt class="col-sm-4">End Date</dt>
              <dd class="col-sm-8"><span th:text="*{endDate}"></span></dd>
            </dl>

            <h4 class="mt-4">Seating</h4>
            <hr/>
            <dl class="row" th:object="${seating}">
              <dt class="col-sm-4">Start Date and Time</dt>
              <dd class="col-sm-8">
                <span th:text="${#temporals.format(seating.seatingDateTime, 'yyyy-MM-dd HH:mm')}"></span>
              </dd>
              <dt class="col-sm-4">End Date and Time</dt>
              <dd class="col-sm-8">
                <span th:text="${#temporals.format(seating.seatingDateTime.plusMinutes(seating.seatingDuration), 'yyyy-MM-dd HH:mm')}"></span>
              </dd>
              <dt class="col-sm-4">Duration (Minutes)</dt>
              <dd class="col-sm-8"><span th:text="*{seatingDuration}"></span></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-6" >
        <!-- Reservation Form -->
        <div class="row justify-content-center">
            <div class="card shadow-sm">
              <div class="card-body">
                <h4 class="card-title mb-4">Your Information</h4>
                <form th:action="@{/seating/reserve/{seating_id}(seating_id=${seating.id})}" method="post" th:object="${reservation}">
                  <input type="hidden" th:field="*{seating.id}" />
                  <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input th:field="*{firstName}" class="form-control"/>
                    <div class="alert alert-warning mt-1" th:errors="*{firstName}"></div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input th:field="*{lastName}" class="form-control"/>
                    <div class="alert alert-warning mt-1" th:errors="*{lastName}"></div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input th:field="*{email}" class="form-control"/>
                    <div class="alert alert-warning mt-1" th:errors="*{email}"></div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Group Size</label>
                    <input th:field="*{groupSize}" class="form-control"/>
                    <div class="alert alert-warning mt-1" th:errors="*{groupSize}"></div>
                  </div>
                  <div class="d-grid">
                    <input type="submit" value="Request Reservation" class="btn btn-info btn-block"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="text-center mt-4">
      <a th:href="@{/event/reserve/{id}(id=${event.id})}" class="btn btn-link">← Go Back to Event</a>
    </div>
  </main>

</div>
</body>
</html>