<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Layouts</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<header>
  <div th:insert="~{nav :: navbar}"></div>
</header>
<div class="container">
  <main role="main" class="pb-3">
    <form method="get" th:action="@{/reservations}">
        <label class="control-label">
          <select class="form-control" name="eventId">
            <option value="">All Events</option>
            <option th:each="event : ${events}"
                    th:value="${event.id}"
                    th:text="${event.name}"
                    th:selected="${selectedEvent == event.id}">
          </select>
        </label>

        <label class="control-label">
          <select class="form-control" name="status">
            <option value="">All Status</option>
            <option th:each="statu : ${status}"
                    th:value="${statu}"
                    th:text="${statu}"
                    th:selected="${selectedStatus == statu}">
          </select>
        </label>
        <button type="submit"  class="btn btn-primary">Filter</button>
    </form>

    <table class="table" th:unless="${reservations == null}">
      <thead>
      <tr>
        <th>Event Name</th>
        <th>Seating Start Date & Time</th>
        <th>Seating Duration(m)</th>
        <th>Name of Reservation</th>
        <th>Group Size</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr th:each="reservation : ${reservations}">
        <td><span th:text="*{reservation.seating.getEvent().name}"></span></td>
        <td><span th:text="*{reservation.seating.seatingDateTime}"></span></td>
        <td><span th:text="*{reservation.seating.seatingDuration}"></span></td>
        <td><span th:text="*{reservation.firstName}"></span> <span th:text="*{reservation.lastName}"></span></td>
        <td><span th:text="*{reservation.groupSize}"></span></td>
        <td><span th:text="*{reservation.seating.getEvent().price}"></span></td>
        <td>
          <span th:if="*{reservation.status !=null && reservation.status.name() == 'APPROVED'}" th:text="*{reservation.status}" class="badge rounded-pill text-bg-success"></span>
          <span th:if="*{reservation.status !=null && reservation.status.name() == 'DENIED'}" th:text="*{reservation.status}" class="badge rounded-pill text-bg-secondary"></span>
          <span th:if="*{reservation.status !=null && reservation.status.name() == 'PENDING'}" th:text="*{reservation.status}" class="badge rounded-pill text-bg-warning"></span>

        </td>
        <td>
          <a th:href="@{/reservation/{id}(id=${reservation.id})}">Select</a>
        </td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
</body>
</html>