<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Menu Details</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header><div th:insert="~{nav :: navbar}"></div></header>
<div class="container">
  <main role="main" class="pb-3"><h1>Details</h1>
    <div><h4>Menu</h4>
      <hr/>
      <dl class="row" th:object="${menu}">
        <dt class="col-sm-2"> Name</dt>
        <dd class="col-sm-10">
          <span th:text="*{name}"></span>
        </dd>
        <dt class="col-sm-2"> Description</dt>
        <dd class="col-sm-10"><span  th:text="*{description}"></span></dd>
      </dl>

      <h4>Items</h4>
      <hr>
      <table class="table" th:unless="${menu.getMenuItems() ==null}">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Manage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menuItem : ${menu.menuItems}">

          <td><span th:text="${menuItem.name}"></span></td>
          <td><span th:text="${menuItem.description}"></span></td>
          <td><span th:if="${session.loggedIn}"><a th:href="@{/menuItem/edit/{id}(id=${menuItem.id})}">Edit</a>
            | <a th:href="@{/menuItem/delete/{id}(id=${menuItem.id})}">Delete</a></span>
          </td>
        </tr>
        </tbody>
      </table>
      <div><a th:href="@{/menu}">Go to Menu List</a> <span th:if="${session.loggedIn}">|| <a th:href="@{/menuItem/create/{id}(id=${menu.id})}">Add Menu Item</a></span></div>
    </div>

    </main>
</div>
</body>
</html>